// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$darkblue: #40405f;

@mixin transition($property, $timeout, $ease) {
    -webkit-transition: $property $timeout $ease;
    -moz-transition: $property $timeout $ease;
    -o-transition: $property $timeout $ease;
    transition: $property $timeout $ease;
}

a:hover {
    text-decoration: none;
}
.container {
    max-width: 100%;
}

/* Master */
._master--container {
    @include transition(padding, 0.5s, ease);

    .open + & {
        padding-left: 300px;
    }
}

._nav--icon-back {
    display: none;
}

.open {
    ._nav--icon-menu {
        display: none;
    }    

    ._nav--icon-back {
        display: inline-block;
    }
}


/* Projects */
._projects--project-wrapper {
    border: 1px solid #c1c1c1;
    padding: 10px;
    border-bottom: 3px solid #88c8d2;

    @include transition(background, 0.5s, ease);
    /*@include transition(color, 0.2s, ease);*/
    /*@include transition(border, 0.2s, ease);*/


    &:hover {
        background: #88c8d2;
        color: white;
        border: 1px solid darken(#88c8d2, 5%);
    }
}

._projects--member {
    width: 25px; 
    height: 25px; 
    background: #ff0097; 
    margin-right: 5px; 
    float: left;
}

._projects--members {
    overflow: hidden;
}


/* Project */
._project--list {
    background: #dadada;
    padding: 10px;
    border-radius: 2px;
}
._project--list-title {
	font-size: 18px;
	padding: 10px 0px;
}

._project--task {
    background: #f7f7f7;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 6px 10px -10px black;
    margin-bottom: 10px;
}

._project--title {
	color: #37a7de;
}

._project--add-task {
	/*margin-top: 10px; */
	width: 100%;
}

._project--add-task ._obj--table-cell {
	vertical-align: top;
}



/* Task */
._task--details {
	background: #dedede;
    border: 1px solid #c5c5c5;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 6px 10px -10px black;

    margin-bottom: 15px;
}

._task--comments {
	background: #dedede;
    border: 1px solid #c5c5c5;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 6px 10px -10px black;
}


/* Nav */
._nav--wrapper {
    color: #fff;
}

._nav--topbar {
    background: $darkblue;
    margin-bottom: 15px;
    padding: 10px;
    color: #fff;
    overflow: hidden;
}

._nav--toogle-btn {
    padding: 5px;
    display: inline-block;
    border-radius: 2px;
    &:hover {
        cursor: pointer;
        background: lighten($darkblue, 5%);
    }
}

._nav--sidebar {
    background: $darkblue;

    position: fixed;
    top: 54px;
    bottom: 0;

    left: -300px;

    width: 300px;

    z-index: 99;
    overflow-y: auto;

    /*box-shadow: 0 0 10px black;    */
    .open & {
        left: 0;
    }

    @include transition(all, 0.5s, ease);
    /*transition: all 0.5s ease;*/

}
._nav--cover {
    position: relative;
}

._nav--cover-image {
    img {
        width: 100%;
    }
}

._nav--cover-info {
    position: absolute;
    bottom: 0;
    padding: 15px;
}


._nav--navitems {
    /*padding: 15px;*/
    overflow: auto;
}
._nav--navitem {
    /*float: left;*/
    a {
        padding: 15px;
        display: block;
        &:hover {
            background: lighten($darkblue, 5%);
        }
    }

    .icon {
        padding-right: 7px; 
    }

}

._nav--navitem a {
	color: #fff;
}


/* Objects */
._obj--table {
	display: table;
}

._obj--table-cell {
	display: table-cell;
}
